.gold {
  color: gold !important;
}
.silver {
  color: silver !important;
}
.bronze {
  color: #cd7f32 !important;
}
.list-group-item-dark {
  background-color: #313131;
  color: white;
}
.pp-3 {
  padding: calc(36.617px / 2) !important;
}
.pp-2 {
  padding: calc(25.2px / 2) !important;
}
.pp-1 {
  padding: calc(13.8167px / 2) !important;
}
