h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 1.7em;
  color: #ff8000;
  padding: 0.5em;
  margin: 0;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  min-height: 80vh;
  background-color: rgba(0, 184, 184, 0.75);
  border-radius: 1.2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
.bg-play {
  background-color: rgba(0, 184, 184, 0.75);
  border-radius: 1.2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

@media (min-width: 1555px) {
  .container {
    max-width: 1455px;
  }
}

@media (min-width: 2150px) {
  .container {
    max-width: 1920px;
  }
}
