<div class="container-fluid m-0 position-relative" style="height: 80vh">
  <ng-container *ngIf="game.sessionState.currentQuestionState === 'RESULTS'">
    <div class="position-absolute top-0 w-100 row bg-light">
      <div class="col d-flex" *ngFor="let client of game.gameClients">
        <img
          [src]="getIconURL(client)"
          alt="icon"
          style="width: 40px"
          [class.client-disconnected]="!client.connected"
        />
        <h5 class="m-0 p-3">{{ client.nickname }}</h5>
        <span class="ms-auto p-3"> {{ client.points }} Points </span>
      </div>
    </div>
  </ng-container>
  <app-question style="max-height: 40vh"></app-question>
  <app-option-response
    *ngIf="
      game.sessionState.currentQuestion.answerOption.answerOptionType ===
      'OPTION'
    "
    style="max-height: 40vh; width: 100%; height: 100%"
    class="
      position-absolute
      bottom-0
      start-50
      translate-middle-x
      overflow-hidden
    "
  ></app-option-response>
  <app-range-response
    *ngIf="
      game.sessionState.currentQuestion.answerOption.answerOptionType ===
      'RANGE'
    "
    style="max-height: 40vh; width: 100%; height: 100%"
    class="
      position-absolute
      bottom-0
      start-50
      translate-middle-x
      overflow-hidden
    "
  ></app-range-response>
  <app-buzzer-response
    *ngIf="
      game.sessionState.currentQuestion.answerOption.answerOptionType ===
      'BUZZER'
    "
    style="max-height: 40vh; width: 100%; height: 100%"
    class="
      position-absolute
      bottom-0
      start-50
      translate-middle-x
      overflow-hidden
    "
  >
  </app-buzzer-response>
  <div
    class="position-absolute top-0 end-0"
    *ngIf="game.sessionState.currentQuestionState === 'ANSWERING'"
  >
    <h2 class="m-4 p-0">
      {{ game.timer.time }}
    </h2>
  </div>
  <div
    class="position-absolute bottom-0 end-0"
    *ngIf="
      game.client.gameMaster &&
      game.sessionState.currentQuestionState !== 'ANSWERING'
    "
  >
    <button class="btn btn-primary p-4" (click)="next()">
      <ng-container
        *ngIf="game.sessionState.currentQuestionState === 'SHOWING_RESPONSES'"
      >
        Show Result
      </ng-container>
      <ng-container
        *ngIf="game.sessionState.currentQuestionState === 'RESULTS'"
      >
        Next Question
      </ng-container>
    </button>
  </div>
</div>
