<div
  class="continer-fluid position-relative mh-100 overflow-auto"
  style="height: 80vh"
>
  <div class="position-absolute top-50 start-50 translate-middle">
    <form (ngSubmit)="create()" class="row g-3" #createForm="ngForm">
      <div class="col-md-8 offset-md-2">
        <label for="quizName" class="form-label">Quiz Name</label>
        <input
          [(ngModel)]="createInfo.quizName"
          type="text"
          class="form-control"
          id="quizName"
          name="quizName"
          required
        />
      </div>
      <div class="col-md-8 offset-md-2">
        <label for="author" class="form-label">Nickname</label>
        <input
          [(ngModel)]="createInfo.author"
          type="text"
          class="form-control"
          id="author"
          name="author"
          required
        />
      </div>
      <div class="col-md-8 offset-md-2">
        <label for="password" class="form-label">Edit Password</label>
        <input
          [(ngModel)]="createInfo.editPassword"
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="col-md-2 offset-md-2">
        <label for="defaultTime" class="form-label">Default Round Time</label>
        <input
          [(ngModel)]="createInfo.quizSettings.defaultTime"
          type="number"
          class="form-control align-self-end"
          id="defaultTime"
          name="defaultTime"
        />
      </div>
      <div class="col-md-2">
        <label for="pointsToAdd" class="form-label">Right Answer Points</label>
        <input
          [(ngModel)]="createInfo.quizSettings.pointsToAdd"
          type="number"
          class="form-control align-self-end"
          id="pointsToAdd"
          name="pointsToAdd"
        />
      </div>
      <div class="col-md-2">
        <label for="removePointsForInvalidAnswers" class="form-label"
          >Remove Points When Wrong?</label
        >
        <select
          [(ngModel)]="createInfo.quizSettings.removePointsForInvalidAnswers"
          class="form-select"
          id="removePointsForInvalidAnswers"
          name="removePointsForInvalidAnswers"
        >
          <option [ngValue]="false">No</option>
          <option [ngValue]="true">Yes</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="pointsToRemove" class="form-label"
          >Remove Points Amount</label
        >
        <input
          [(ngModel)]="createInfo.quizSettings.pointsToRemove"
          type="number"
          class="form-control align-self-end"
          id="pointsToRemove"
          name="pointsToRemove"
          [disabled]="!createInfo.quizSettings.removePointsForInvalidAnswers"
        />
      </div>
      <div class="offset-md-2">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!createForm.form.valid"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
